.video-container {
  width: calc(100% - 80px);
  /* subtract 20px for margin */
  overflow-x: scroll;
  white-space: nowrap;
  margin: 20px;
  padding: 20px;
}

.video-item {
  width: calc(25% - 40px);
  height: 350px;
  margin: 20px;
  display: inline-block;
}

.video-item h2 {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-item p {
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-item .d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video-item .d-flex span {
  margin-right: 1rem;
  font-size: 1rem;
}

.video-item:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-out;
}