/* .App {
  display: flex;
  width: 100%;
  align-items: stretch;
} */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
} */

/* a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
} */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #353738;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #353738;
}

.sidebar-header h3 {
  /* color: #353738; */
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar-items:hover {
  background: #fff;
}

.custom-color-sidebar {
  color: #fff;
}

.sidebar-items:hover .custom-color-sidebar {
  color: #353738;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header>span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  /* body {
    overflow: hidden;
  } */

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open>.sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

.suggestions-container {
  position: absolute;
  width: 800px;
  margin-top: 0px;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.suggestions-container span {
  display: block;
  cursor: pointer;
}

.suggestions-container span:hover {
  background-color: #eee;
}
.react-autosuggest__input{
  width: 800px;
}

.react-autosuggest__suggestions-list{
  margin: 0px;
  padding: 0px;
}
.react-autosuggest__suggestion{
  margin: 0px;
  padding: 0px;
}